
.App {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, serif;
  background-color: #61a8d7;
  color:rgb(16, 8, 64);
  padding: 40px;
}
/* Hooks button */
.button {
  cursor: pointer;
  display: block;
  font-size: medium;
  font-family: Georgia, serif;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 7%;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: rgb(172, 205, 239);
  color: #000001;
  font-weight: bolder;
  /* box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1); */
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}
.heading {
  color: azure;
  font-weight: bold;
  font-size: x-large;
  font-family: Georgia, serif;
}
.logo {
  width: 150px;
  height: 150px;
}
.restaurantImages{
  width: 300px;
  height: 300px;
}
.restaurantNames{
  font-family: Georgia, serif;
  text-align: center;
  color: rbg(16,8,64);
  font-size: medium;
}
